:root {
    background-color: rgb(100, 151, 168);
}
body{
position: fixed;
}


.centerh1 { 
    position: relative;
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
}
.centerh2{
    position: relative;
    background: rgb(71, 110, 161);
    border-radius: 25px;
    border: solid black;
    font-size: 20px;
    text-align: center;
    padding-left: 200px;
    padding-right:200px;
    margin-left: 150px;
    margin-right: 150px;

}

.viewhighscore{
    border-radius: 25px;
    margin: 15px;
    border: solid black ;
    
    position: absolute; top: 10px;left: 10px;
    text-align: left;
    font-size: 20px;
    padding: 15px
    
    
}
.timer-count{
    border-radius: 10px;
   background-color: rgb(87, 119, 179);
   border: solid black;
    position: absolute; top: 10px; right: 10px;
    text-align: right;
    font-size: 20px;
    padding:15px
    
}
.start-button {
    display: block;
    text-align: center;
   

   
}
.start {
    font-size: 25px;
    color: rgb(114, 20, 20);
    background-color: cornflowerblue;
    border-radius: 25px;
    margin: 50px;
    border: solid black;
}
main{
    display: none;
    flex-wrap: wrap; 
    text-align: center;
}

.quiz{
    position: relative;
    border-radius: 25px;
    border: solid black;
    font-size: 20px;
    text-align: center;
    padding-left: 150px;
    padding-right:150px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: cornflowerblue;

}

.hide{
    display: none;

}
.highscorelist {
    position:relative;


   
    color: blue;
}
.list-highscore {
    
    position: relative;
   
}